<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MSc. José Mendoza</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">MSc. José Mendoza</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/JoseLMendozaV/" class="GitHub"><i class="bi bi-github"></i></a>
          <a href="https://scholar.google.com/citations?user=DYMtz-MAAAAJ&hl=es" class="Google Scholar"><i class="bi bi-google"></i></a>
          <a href="https://www.instagram.com/sagaka20/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.academia.utp.ac.pa/jose-mendoza11" class="Academia UTP"><i class="bi bi-person-circle"></i></a>
          <a href="https://www.linkedin.com/in/jos%C3%A9-mendoza-709685108" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre Mí</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>CV</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Distinciones</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>MSc. José L. Mendoza V.</h1>
      <p>Soy <span class="typed" data-typed-items="Docente, Investigador, Programador"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Sobre Mí</h2>
          <p>Soy Ingeniero en Sistemas y Computación, orgullosamente graduado de la Universidad Tecnológica de Panamá, con una especialización en inteligencia artificial, análisis de datos, Machine Learning y Deep Learning.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Información Personal &amp; Detalles.</h3>
            <p class="fst-italic">
                Mi tesis de pregrado recibió el respaldo financiero de la convocatoria "Nuevos Investigadores ronda I del 2018" por la SENACYT, y he tenido el privilegio de colaborar con destacados doctores del Sistema Nacional de Investigación (SNI) en la elaboración y publicación de artículos científicos en revistas de renombre internacional.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Cumpleaños:</strong> <span>20 Sep 1996</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Sitio Docente:</strong> <span>https://www.academia.utp.ac.pa/jose-mendoza11</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>+507 number</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Chiriquí, Panamá</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>27</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Educación:</strong> <span>Master</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Correo Electrónico:</strong> <span>jose.mendoza11@utp.ac.pa</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Trabajo:</strong> <span>Professor</span></li>
                </ul>
              </div>
            </div>
            <p>
                Esta dedicación y pasión por la investigación me valieron una beca de la SENACYT, que me permitió emprender mis estudios de Maestría en Ciencias de la Computación en la Universidad de Glasgow, reconocida como la 73ª mejor universidad del mundo según el QS World University Rankings, en enero de 2021.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section Docente ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Habilidad: Docente</h2>
          <p>Con 2 años dedicados a la docencia y más de 5 años en el ámbito de la programación, he fusionado mi pasión por la enseñanza con mi destreza técnica. Esto me permite brindar experiencias educativas enriquecedoras mientras diseño soluciones tecnológicas de vanguardia.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Metodologías de enseñanza adaptativas <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Fomento del pensamiento crítico <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Uso de tecnología en el aula <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Desarrollo de habilidades blandas <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Diseño Instruccional Personalizado <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Retroalimentación <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->


        <!-- ======= Skills Section Programdor ======= -->
        <section id="skills2" class="skills section-bg">
            <div class="container">
      
              <div class="section-title">
                <h2>Habilidad: Programador</h2>
                              </div>
      
              <div class="row skills-content">
      
                <div class="col-lg-6" data-aos="fade-up">
      
                  <div class="progress">
                    <span class="skill">Python <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                  <div class="progress">
                    <span class="skill">Análisis de Datos <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                  <div class="progress">
                    <span class="skill">Django <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                </div>
      
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
      
                  <div class="progress">
                    <span class="skill">Bootstrap <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                  <div class="progress">
                    <span class="skill">Deep Learning <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                  <div class="progress">
                    <span class="skill">Visión por computador <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
      
                </div>
      
              </div>
      
            </div>
          </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Curriculum Vitae</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Educación</h3>
            <div class="resume-item">
              <h4>Doctorado en Computación e Informática</h4>
              <h5>2024 - Presente</h5>
              <p><em>Universidad de Costa Rica (UCR), San José, Costa Rica</em></p>
              <p>Actualmente, estoy iniciando mi camino en este prestigioso programa de doctorado de la Universidad de Costa Rica. Este programa promete proporcionarme una formación avanzada y multidisciplinaria en el ámbito de la Computación e Informática.</p>
            </div>
            <div class="resume-item">
              <h4>Maestría en Entornos Virtuales de Aprendizaje</h4>
              <h5>enero 2022 - 2023</h5>
              <p><em>Universidad Tecnológica Oteima, Chiriquí, Panamá</em></p>
              <p>Concluí con éxito la Maestría en Entornos Virtuales de Aprendizaje en la Universidad de Oteima, un programa que me proporcionó un conocimiento profundo de las herramientas y metodologías más avanzadas para la educación digital. Durante este período, desarrollé competencias esenciales para diseñar, implementar y evaluar estrategias pedagógicas en plataformas virtuales, garantizando un aprendizaje efectivo y significativo en el ámbito digital.</p>
            </div>
            <div class="resume-item">
                <h4>Maestria en Ciencias de la Computación</h4>
                <h5>Enero 2021 - Diciembre 2021</h5>
                <p><em>Universidad de Glasgow, Glasgow, Escocia, Reino Unido</em></p>
                <p>Finalicé con éxito la Maestría en Ciencias de la Computación en la renombrada Universidad de Glasgow. Durante esta etapa académica, tuve la oportunidad de sumergirme en una amplia gama de tecnologías y teorías avanzadas, respaldadas por un enfoque investigativo de vanguardia. El programa me capacitó en áreas cruciales del campo computacional, desde la ciencias de datos hasta la ciberseguridad forense, preparándome para enfrentar y liderar proyectos tecnológicos de alto calibre en la industria actual.</p>
              </div>  
              <div class="resume-item">
                <h4>Especialización en Docencia Superior</h4>
                <h5>Mayo 2020 - Febrero 2021</h5>
                <p><em>Universidad del Istmo, Chiriquí, Panamá</em></p>
                <p>Finalicé con éxito la Especialización en Docencia Superior en la Universidad del Istmo, un programa intensivo centrado en fortalecer las habilidades pedagógicas y metodológicas para la enseñanza a nivel superior. Durante esta formación, adquirí herramientas avanzadas y técnicas educativas contemporáneas, permitiéndome diseñar y ejecutar estrategias de enseñanza eficaces para una audiencia universitaria. Esta especialización ha reforzado mi capacidad para promover el aprendizaje significativo, adaptándome a las demandas y desafíos del mundo académico actual.</p>
              </div>   
              <div class="resume-item">
                <h4>Lic. en Ingeniería de Sistemas y Computación</h4>
                <h5>enero 2015 - octubre 2019</h5>
                <p><em>Universidad Tecnológica de Panamá, Chiriquí, Panamá</em></p>
                <p>Concluí con éxito la Licenciatura en Ingeniería de Sistemas y Computación en la Universidad Tecnológica de Panamá, una de las instituciones líderes en el ámbito tecnológico del país. Durante mi formación, adquirí un amplio espectro de conocimientos, desde la conceptualización y diseño de sistemas hasta la implementación y gestión de soluciones tecnológicas avanzadas. Este programa me preparó para abordar desafíos informáticos con una visión integral, combinando aspectos teóricos con aplicaciones prácticas, lo que me capacita para destacar en el competitivo mundo de la tecnología.</p>
              </div>       
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Experiencia Profesional</h3>
            <div class="resume-item">
              <h4>Profesor tiempo parcial</h4>
              <h5>mayo 2022 - Presente</h5>
              <p><em>Universidad del Istmo, Chiriquí, Panamá </em></p>
              <ul>
                <li>Impartición de clases en materias clave como bases de datos y administración de bases de datos, enfocando en la transmisión efectiva de conocimientos teóricos y prácticos.</li>
                <li>Docencia en áreas técnicas, incluyendo el lenguaje de programación Python y sistemas operativos, siempre buscando la máxima comprensión por parte de los estudiantes.</li>
                <li>Enseñanza de conceptos fundamentales y avanzados en ciberseguridad, poniendo especial atención en las prácticas y herramientas actuales del campo.</li>
                <li>Utilización y manejo de recursos y materiales educativos para asegurar una formación contemporánea y de calidad para todos los estudiantes.</li>
            </ul>
            </div>
            <div class="resume-item">
              <h4>Profesor especial eventual IV</h4>
              <h5>marzo 2022 - Presente</h5>
              <p><em>Universidad Tecnológica de Panamá, Chiriquí, Panamá</em></p>
              <ul>
                <li>Impartición de clases en "Arquitectura y Desarrollo de Aplicaciones Web" y "Tecnologías de Información y Comunicación", con énfasis en conceptos clave y prácticas actuales.</li>
                <li>Docencia en "Desarrollo de Software" para niveles IV, VI y VIII, centrando la enseñanza en las metodologías y técnicas esenciales de cada nivel.</li>
                <li>Transmisión de conocimientos en materias fundamentales como "Estructura de Datos I" y "Estructuras Discretas para la Computación", facilitando la comprensión de estructuras y conceptos clave.</li>
                <li>Enseñanza práctica y teórica en "Herramientas de Programación Aplicadas IV", "Ingeniería de Sistemas Dinámicos", "Programación Aplicada II" y "Programación II", utilizando herramientas actuales y fomentando el aprendizaje basado en proyectos.</li>
            </ul>            
            </div>
            <div class="resume-item">
                <h4>Asistente de investigación</h4>
                <h5>septiembre 2018 - septiembre 2020</h5>
                <p><em>Universidad Tecnológica de Panamá, Chiriquí, Panamá</em></p>
                <ul>
                  <li>Asistir a dos investigadores del sistema nacional de investigación (SNI), Dr. Carlos Rovetto y Dra. Elia Cano en su proyecto “Multi skin lesions classification using fine-tuning and dataaugmentation applying NASNet”.</li>
                  <li>Tareas Realizadas: Minería de datos, selección de características, preprocesamiento de datos, Data Augmentation, clasificación de datos.</li>
                 </ul>
              </div>
              <div class="resume-item">
                <h4>Movilidad de estudiantes para la investigación</h4>
                <h5>febrero 2019 - mayo 2019</h5>
                <p><em>Universidad Politécnica de Valencia, Valencia, España</em></p>
                <ul>
                  <li>Pasantía de investigación en el área de inteligencia artificial y visión artificial.</li>
                  <li>Beca de viaje, UTP-SENACYT 239-2018.</li>
                 </ul>
              </div>
              <div class="resume-item">
                <h4>Asistente de laboratorio</h4>
                <h5>febrero 2018 - julio 2018</h5>
                <p><em>Universidad Tecnológica de Panamá, Chiriquí, Panamá</em></p>
                <ul>
                    <li>Asistencia en la preparación y organización de materiales y equipos necesarios para las prácticas de laboratorio, garantizando que estén listos y en condiciones óptimas para su uso.</li>
                    <li>Colaboración directa con docentes e investigadores en la realización de experimentos, asegurando que los protocolos y procedimientos se sigan correctamente.</li>
                    <li>Mantenimiento y calibración de instrumentos de laboratorio, priorizando la precisión y el buen funcionamiento de cada herramienta.</li>
                    <li>Gestión de inventarios y registro detallado de insumos, garantizando un control riguroso y evitando desabastecimientos o pérdidas.</li>
                </ul>
                
              </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Publicaciones</li>
              <li data-filter=".filter-card">Investigaciones</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-1.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-1.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Multi skin lesions classification using fine-tuning and data-augmentation applying NASNet"><i class="bx bx-plus"></i></a>
                <a href="https://doi.org/10.7717/peerj-cs.371" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-3.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Artificial muscles and optomiography applied to a robotic hand"><i class="bx bx-plus"></i></a>
                <a href="https://doi.org/10.33412/revric.v5.2.2502" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-4.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-4.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Detección de Masas y Nódulos en Radiografias de Tórax con Deep Learning"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/MarianaAreiza/DeepLearningProyect" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-6.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/portfolio/portfolio-6.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Voice Model Training for Hispanic Speakers Applying Convolutional Neural Networks"><i class="bx bx-plus"></i></a>
                <a href="https://revistas.utp.ac.pa/index.php/memoutp/article/view/1787" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Distinciones</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Mención de honor</a></h4>
            <p class="description">Mención de honor por haber sido seleccionado en el Centro Regional de Chiriquí y participar en el JIC con el proyecto Panamá “Algoritmo basado en la arquitectura DENSAMENTE para la clasificación de Masas y Agosto 2019 Nodos en Radiografía de Tórax”.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Proponente asociado SENACYT</a></h4>
            <p class="description">Ganador como proponente asociado en el anuncio público de nuevos investigadores 2018 ronda uno de la SENACYT (Secretaría Nacional de Ciencia, Tecnología e Innovación) con el proyecto Panamá “Detección de masas y nódulos en radiografía de tórax con Deep Learning" Octubre de 2018 con el código: APY-NI-2018-13” a Octubre de 2019.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Proyecto más innovador JIC 2018</a></h4>
            <p class="description">Miembro del grupo ganador del PROYECTO MÁS INNOVADOR Jornada de iniciación científica (JIC) 2018 con el proyecto Panamá “Músculos artificiales y optomiografía aplicada a una mano robótica” Noviembre 2018.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Maestría Ciencias de la Computación, Universidad de Glasgow</a></h4>
            <p class="description">Convocatoria de Maestría en áreas específicas del conocimiento identificadas por la SENACYT Panamá. “Maestria en Ciencias de la computación con énfasis en ciencias de datos" Enero de 2021 con el código: BAE-2020-35” a Diciembre de 2021.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Movilidad Estudiantil</a></h4>
            <p class="description">Movilidad estudiantil para prácticas de investigación Panamá “Área de inteligencia y visión artificial en la Universidad Politécnica de 11 de febrero de 2019 Valencia - España” a 11 de mayo de 2019</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Nuevo Investigador SENACYT 2018</a></h4>
            <p class="description">Proponente asociado en el anuncio público de nuevos investigadores 2018 ronda uno de la SENACYT (Secretaría Nacional de Ciencia, Tecnología e Innovación) con el proyecto Panamá “Detección de masas y nódulos en radiografía de tórax con Deep Learning" Octubre de 2018 con el código: APY-NI-2018-13” a Octubre de 2019.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= 
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div> --End testimonial item --

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div>-- End testimonial item --

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div>-- End testimonial item --

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>-- End testimonial item --

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div>-- End testimonial item --

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> -- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contacto</h2>
          <p>Es un verdadero placer para mí que hayas considerado ponerte en contacto. Cada nueva conexión representa una oportunidad de crecimiento, colaboración y aprendizaje. No dudes en escribirme; siempre estoy dispuesto a escuchar propuestas, ideas o simplemente intercambiar opiniones. ¡Espero tu mensaje con entusiasmo!</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Universidad Tecnológica de Panamá, Chiriquí, Panamá</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>jose.mendoza11@utp.ac.pa</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+507 Number</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d697.6984472795759!2d-82.44253568199163!3d8.423408277853055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa59d9a9f7181e7%3A0x19e201c38b1369e3!2sUniversidad%20Tecnol%C3%B3gica%20de%20Panam%C3%A1!5e0!3m2!1ses!2spa!4v1696352163215!5m2!1ses!2spa" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MSc. José Mendoza</span></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>